<div id="background">

    <h2 class="text-center header">PRODUCT COMMUNITY WEBSITE</h2>

    <h6 class="text-center text mt-20">Find Solutions. Ask Questions, Share Ideas. Connect with users across the

        globe.</h6>
    <div class="stats justify-content-center">
        <div class="stats">
            <div class="container" style="margin-top: 15vh; margin-left: 14%;">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-user-friends fa-4x "></i>
                                </div>
                                <div class="col">
                                    <div style="color: rgb(149, 225, 139)">
                                        <p style="font-weight: bold;">{{userCount}}</p>
                                        <p>USERS</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-4x"></i>
                            </div>
                            <div class="col">
                                <div style="color:  rgb(149, 225, 139)">
                                    <p style="font-weight: bold;">{{reviewCount}}</p>
                                    <p>REVIEWS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-4">
                                <i class="fab fa-product-hunt fa-4x "></i>
                            </div>
                            <div class="col">
                                <div style="color: rgb(149, 225, 139)">
                                    <p style="font-weight: bold;">{{productCount}}</p>
                                    <p>PRODUCTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>